html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(12, 157, 244);
  background: linear-gradient(
    130deg,
    rgba(12, 157, 244, 1) 0%,
    rgba(209, 0, 255, 1) 100%
  );
  color: white;
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  font-size: 30px;
}

.content {
  padding: 3rem;
  margin: 0;
}

.center {
  text-align: center;
}

.mt-4 {
  margin-top: 4rem;
}

.form {
  display: flex;
}

input[type='text'] {
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 1rem;
  flex-grow: 1;
  color: rebeccapurple;
}

button {
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 2rem;
  color: white;
  border: solid 2px;
  background: #66339954;
  cursor: pointer;
}

.center-wrapper {
  margin-top: 3rem;
  text-align: center;
}
